<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GuitStrum</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="/css/style.css">
    <link rel='shortcut icon' type='image/x-icon' href='/img/GuitFavicon.jpeg' />
  </head>
  <body>
    <nav>
      <div class="nav-wrapper light-blue darken-4">
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <a href="/<% if (typeof user == 'object' && user) { if (user.id == null) {} else {%>profile/<%= user.id %><%}}%>" class="brand-logo center">GuitStrum</a>
          <li><a href="/chords/">Chords</a></li>
          <li><a href="/songs/">Songs</a></li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if (currentUser) { %>
            <li><a href="/<% if (typeof user == 'object' && user) { %>profile/<%= user.id %><%}%>"><% if (typeof user == 'object' && user) { %><%= user.name %><%}%></a></li>
            <li><a href="/auth/logout">Logout</a></li>
          <% } else { %>
          <li><a href="/auth/signup">Signup</a></li>
          <li><a href="/auth/login">Login</a></li>
          <% } %>
        </ul>
      </div>
    </nav>
    <main>
      <% include partials/alerts %>

      <%- body %>
    </main>
    <footer class="page-footer blue-grey darken-2">
      <div class="container">
        <div class="row">
          <div class="col l4 s12">
            <h5><a href="/" class="white-text">Home</a></h5>
            <ul>
              <li><a href="/<% if (typeof user == 'object' && user) { if (user.id == null) {} else {%>profile/<%= user.id %><%}}%>" class="grey-text text-lighten-2">My Profile</a></li>
              <li><a class="grey-text text-lighten-2" href="/chords/">Chords</a></li>
              <li><a class="grey-text text-lighten-2" href="/songs/">Songs</a></li>
            </ul>
          </div>
          <div class="col l4 offset-l1 s12">
          </div>
        </div>
      </div>
      <div class="footer-copyright blue-grey darken-3">
        <div class="container">
        © 2020 Copyright
        <a class="grey-text text-lighten-2 right" href="https://github.com/petefitton">Made by Pete Fitton</a>
        <a class="white-text text-lighten-1 right" href="https://www.linkedin.com/in/petefitton/"><div class="light-blue darken-4 linkedIn">in</div></a>
        </div>
      </div>
    </footer>
    <script src="//code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="/js/materialize.min.js"></script>
    <script type="text/javascript" src="/js/jqueryInit.js"></script>
  </body>
</html>
