<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GuitStrum</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav>
      <div class="nav-wrapper light-blue darken-4">
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <!-- <a class="left" href="/">GuitStrum</a> -->
          <a href="/<% if (typeof user == 'object' && user) { %>profile/<%= user.id %><%}%>" class="brand-logo center">GuitStrum</a>
          <!-- <a href="/chords/">Chords</a> -->
          <li><a href="/chords/">Chords</a></li>
          <!-- <a href="/songs/">Songs</a> -->
          <li><a href="/songs/">Songs</a></li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if (currentUser) { %>
            <!-- <a class="right" href="/auth/logout">Logout</a> -->
            <li><a href="/<% if (typeof user == 'object' && user) { %>profile/<%= user.id %><%}%>"><% if (typeof user == 'object' && user) { %><%= user.name %><%}%></a></li>
            <li><a href="/auth/logout">Logout</a></li>
            <!-- <a href="/profile">Profile</a> -->
          <% } else { %>
          <!-- <a class="right" href="/auth/signup">Signup</a> -->
          <li><a href="/auth/signup">Signup</a></li>
          <!-- <a class="right" href="/auth/login">Login</a> -->
          <li><a href="/auth/login">Login</a></li>
          <% } %>
        </ul>
      </div>
    </nav>
    <main>
      <% include partials/alerts %>

      <%- body %>
    </main>
    <footer class="page-footer grey darken-3">
      <div class="container">
        <div class="row">
          <div class="col l2 s12">
            <h5><a href="/" class="white-text">Home</a></h5>
            <ul>
              <li><a href="/<% if (typeof user == 'object' && user) { %>profile/<%= user.id %><%}%>" class="grey-text text-lighten-2">My Profile</a></li>
              <li><a class="grey-text text-lighten-2" href="/songs/">Songs Home</a></li>
              <li><a class="grey-text text-lighten-2" href="/songs/new">Create New Song</a></li>
              <li><a class="grey-text text-lighten-2" href="/chords/">Chords Home</a></li>
            </ul>
          </div>
          <div class="col l4 offset-l1 s12">
            <!-- <h5 class="white-text">Links</h5> -->
            <!-- <ul> -->
              <!-- <li><a class="grey-text text-lighten-2" href="/songs/">Songs Home</a></li> -->
              <!-- <li><a class="grey-text text-lighten-2" href="/songs/new">Create New Song</a></li>
              <li><a class="grey-text text-lighten-2" href="/chords/">Chords Home</a></li> -->
            <!-- </ul> -->
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2020 Copyright
        <a class="grey-text text-lighten-1 right" href="https://github.com/petefitton">Made by Pete Fitton</a>
        </div>
      </div>
    </footer>
    <script src="//code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="/js/materialize.min.js"></script>
    <script type="text/javascript" src="/js/jqueryInit.js"></script>
  </body>
</html>
