<!-- Profile page -->
<div class="row">
  <div class="col s4"></div>
  <h2 class="center-align col s4"><%= locals.user.name %>'s Profile</h2>
  <div class="col s1"></div>
  <div class="col s3">
    <form action="/songs/new" method="get" id="newSong">
      <button type="submit" form="newSong" class="orange white-text darken-4 waves-effect waves-light btn-large">Create New Song</button>
    </form>
  </div>
</div>

<div class="row">
  <div class="col s3 m3 offset-m1">
    <h3>My Chords:</h3>
    <!-- for each chord that user has through ChordsUsers -->
    <% if (typeof user == 'object' && user) { %>
      <% if (typeof user.chords == 'object' && user.chords) { %>
        <% user.chords.forEach(function(chord) { %>
          <p><a href="/chords/result?chordSearch=<%= chord.imageChordName %>"><%= chord.colloqChordName %></a></p>
        <% }) %>
      <% } %>
    <% } %>
  </div>

  <div class="col s3 offset-s1">
    <h3>My Songs:</h3>
    <% if (typeof user == 'object' && user) { %>
      <% if (typeof user.songs == 'object' && user.songs) { %>
        <% user.songs.forEach(function(song) { %>
          <p><a href="/songs/<%= song.id %>"><%= song.name %></a></p>
        <% }) %>
      <% } %>
    <% } %>
  </div>

  <div class="col s3 offset-s1 m3 topMarg44">
    <form action="/chords/result" method="get">
      <input type="search" name="chordSearch" id="chordSearch" placeholder="Search for Chord">
      <button type="submit">SEARCH</button>
    </form>
  </div>

</div>