<!-- form action should add song id in place of word test below -->
<form method="POST" action="/songs/<%= song.id %>/?_method=PUT" id="songEditForm">
  <div class="row">
    <div class="col s3"></div>
    <div class="input-field col s6">
      <input type="search" name="songName" id="songName" value="<%= song.name %>" class="center-align">
    </div>
    <div class="col s1"></div>
    <!-- <div class="input-field col s2">
    </div> -->
    <div class="input-field col s2">
      <p>
        <label>
          <input name="pubPriv" type="radio" value="true" <% if (song.public) { %> checked <% } %> />
          <span>Public</span>
        </label>
      </p>
      <p>
        <label>
          <input name="pubPriv" type="radio" value="false" <% if (!song.public) { %> checked <% } %> />
          <!-- Conditional render should determine which radio button is automatically checked -->
          <span>Private</span>
        </label>
      </p>
    </div>
  </div>



  <% if ((song.timeSig == "4 4") && (song.chordCadence == "4")) { %>
  <div class="row">
    <div class="input-field col s1">
      <img class="time44" src="https://mymusiconline.co.uk/wp-content/uploads/graphics_png/time_sign_44.png" alt="">
    </div>
    <div class="input-field col s1 barIcon">
      |
    </div>
    <% let k = 1 %>
    <!-- instanceCount converted to four instances per measure, assuming minimum eight measures for
    section of code lower down, dividing by 2 because of loop inside that contains var h that loops twice -->
      <% for (var i = 0; i < ((song.instanceCount/4) + 2); i = i + 4) { %>
        <% for (var h = 0; h < 2; h++) { %>
          <% for (var j = 0; j < 4; j++) { %>
    <div class="input-field col s1">
      <input type="text" name="chord<%= k %>" id="chord<%= k %>" value="<% for (instance of instances) { if (instance.location == k) {%><%= instance.chord.colloqChordName %><%}}%>">
    </div>
            <% k++ %>
          <% } %>
    <div class="input-field col s1 barIcon">
      |
    </div>
        <% } %>
  </div>
  <div class="row">
    <div class="input-field col s1">
    </div>
    <div class="input-field col s1 barIcon">
      |
    </div>
      <% } %>
      <% for (var j = 0; j < 4; j++) { %>
    <div class="input-field col s1">
      <input type="text" name="chord<%= k %>" id="chord<%= k %>" value="<% for (instance of instances) { if (instance.location == k) {%><%= instance.chord.colloqChordName %><%}}%>">
    </div>
        <% k++ %>
      <% } %>
    <div class="input-field col s1 barIcon">
      |
    </div>
    <% for (var j = 0; j < 4; j++) { %>
    <div class="input-field col s1">
      <input type="text" name="chord<%= k %>" id="chord<%= k %>" value="<% for (instance of instances) { if (instance.location == k) {%><%= instance.chord.colloqChordName %><%}}%>">
    </div>
      <% k++ %>
    <% } %>
    <div class="input-field col s1 barIcon">
      ||
    </div>
    
  </div>
  <% } %>
</form>

<!-- form for deleting song -->
<!-- <form action=""></form> -->

<div class="row">
  <!-- <div class="input-field col s2">
  </div> -->
  <a class="modal-trigger btn red darken-4 waves-effect waves-light left" href="#modalDelete">DELETE</a>
  <!-- <div class="col s3">
  </div> -->
  <button class="btn waves-effect waves-light right" type="submit" form="songEditForm">Publish
    <i class="material-icons right">send</i>
  </button>
</div>



<!-- Modal Structure -->
<div id="modalDelete" class="modal">
  <div class="modal-content">
    <h4>CONFIRM</h4>
    <div class="divider"></div>
    <p>Are you sure you want to delete this song?</p>
  </div>
  <div class="modal-footer">
    <form method="post" action="/songs/<%= song.id %>/?_method=DELETE">
      <button type="submit" class="red btn waves-effect waves-red">Confirm Delete</button>
      <a href="#!" class="modal-close btn-flat">Cancel</a>
    </form>
  </div>
</div>