<!-- <h1>This page shows a single song. Has an edit button and a delete button. Displays song and some song information.</h1> -->
<% if (user.id != null) { %>
  <% if (user.id == instances[0].song.userId) { %>
    <div class="row botMarg0">
      <div class="col s3 m2 right">
        <button data-target="modalShare" type="submit" class="modal-trigger green darken-4 btn waves-effect waves-light">
          Share Song
        </button>
      </div>
    </div>
<% } %>
<% } %>

<div class="row">
  <% if (user.id == instances[0].song.userId) { %>
  <div class="col s2">
    <form action="/songs/edit/<%= instances[0].song.id %>" method="get">
      <button type="submit" class="waves-effect waves-light btn-large">EDIT</button>
    </form>
  </div>
  <% } else { %>
  <div class="col s2">
  </div>
  <% } %>
  <div class="col s7 offset-s1">
    <h1 class="center-align h1MargTopLower leftMargNeg84"><%= song.name %></h1>
  </div>
  <div class="col s2">
    <p class="">Written By: <%= song.user.name %></p>
    <div class="col s1 offset-s4">  
      <h6><% if (instances[0].song.public) { %> Public <% } else { %> Private <% } %></h6>
    </div>
  </div>
</div>

<% if ((instances[0].song.timeSig == "4 4") && (instances[0].song.chordCadence == "4")) { %>
  <div class="row">
    <div class="input-field col s1">
      <img class="time44" src="https://mymusiconline.co.uk/wp-content/uploads/graphics_png/time_sign_44.png" alt="">
    </div>
    <div class="input-field col s1 barIcon">
      |
    </div>
    <% let k = 1 %>
    <!-- instanceCount converted to four instances per measure, assuming minimum two measures for
    section of code lower down, subtracting 2 because of those minimum two final measures -->
      <% for (var i = 0; i < ((instances[0].song.instanceCount/4) - 2); i = i + 2) { %>
        <% for (var h = 0; h < 2; h++) { %>
          <% for (var j = 0; j < 4; j++) { %>
    <div class="input-field col s1">
      <a class="chordDisp" target="_blank" href="<% for (instance of instances) { if (instance.location == k) {%>/chords/result?chordSearch=<%= instance.chord.apiSearchChordName %>"><%= instance.chord.colloqChordName %><% break } else if (instance == instances[instances.length - 1]) {%>"><% } }%></a>
    </div>
            <% k++ %>
          <% } %>
    <div class="input-field col s1 barIcon">
      |
    </div>
        <% } %>
  </div>
  <div class="row">
    <div class="input-field col s1">
    </div>
    <div class="input-field col s1 barIcon">
      |
    </div>
      <% } %>
      <% for (var j = 0; j < 4; j++) { %>
    <div class="input-field col s1">
      <a class="chordDisp" target="_blank" href="<% for (instance of instances) { if (instance.location == k) {%>/chords/result?chordSearch=<%= instance.chord.apiSearchChordName %>"><%= instance.chord.colloqChordName %><% break } else if (instance == instances[instances.length - 1]) {%>"><% } }%></a>
    </div>
        <% k++ %>
      <% } %>
    <div class="input-field col s1 barIcon">
      |
    </div>
    <% for (var j = 0; j < 4; j++) { %>
    <div class="input-field col s1">
      <a class="chordDisp" target="_blank" href="<% for (instance of instances) { if (instance.location == k) {%>/chords/result?chordSearch=<%= instance.chord.apiSearchChordName %>"><%= instance.chord.colloqChordName %><% break } else if (instance == instances[instances.length - 1]) {%>"><% } }%></a>
    </div>
      <% k++ %>
    <% } %>
    <div class="input-field col s1 barIcon">
      ||
    </div>
    
  </div>
  <% } %>

<!-- Song should not be deletable unless the owner is accessing it -->
<% if (user.id == instances[0].song.userId) { %>
  <div class="row">
    <div class="col s3">
      <a class="modal-trigger btn red darken-4 waves-effect waves-light" href="#modalDelete">DELETE</a>
    </div>
  </div>
<% } else { %>
  <div class="row"></div>
<% } %>


<!-- Modals -->
<div id="modalDelete" class="modal">
  <div class="modal-content">
    <h4>CONFIRM</h4>
    <div class="divider"></div>
    <p>Are you sure you want to delete this song?</p>
  </div>
  <div class="modal-footer">
    <form method="post" action="/songs/<%= instances[0].song.id %>/?_method=DELETE">
      <button type="submit" class="red btn waves-effect waves-red">Confirm Delete</button>
      <a href="#!" class="modal-close btn-flat">Cancel</a>
    </form>
  </div>
</div>


<div id="modalShare" class="modal">
  <div class="modal-content">
    <h4>Share Song with Another User</h4>
    <p>Please enter the user ID of someone you would like to share this song with. If this song is private, it will be viewable by the entered user.</p>
  </div>
  <div class="modal-footer row">
    <form method="post" action="/songs/share/<%= instances[0].song.id %>">
    <div class="col s4 offset-s2">
      <input type="text" name="userShareId" id="userShareId" placeholder="Enter User ID">
    </div>
    <div class="col s2 offset-s1">
      <button type="submit" class="red btn waves-effect waves-red">Share</button>
    </div>
    <div class="col s2">
      <a href="#!" class="modal-close btn-flat">Cancel</a>
    </div>
    </form>
  </div>
</div>